---
import { app } from "../firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import Layout from "../layouts/Layout.astro";
import { fade } from 'astro:transitions';

interface Friend {
  id: string;
  name: string;
  age: number;
  isBestFriend: boolean;
}

const db = getFirestore(app);
const friendsRef = db.collection("friends");
const friendsSnapshot = await friendsRef.get();
const friends = friendsSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as Friend[];
---

<Layout title='My friends'>
  <div class="sm:max-w-4xl my-8 space-y-7 mx-auto px-4" transition:animate="slide">

    <h1 class="text-4xl">Friends</h1>
    <ul class=' grid sm:grid-cols-2 gap-6'>
      {
        friends.map((friend) => (
          <li class='block py-2 px-4 rounded-md bg-gray-200' transition:animate={fade({ duration: '0.5s' })}>
            <a class='block text-2xl border-b pb-2 mb-2 border-white' href={`/friend/${friend.id}`}>
              {friend.name}
            </a>
            <span>Age: ({friend.age})</span>
            <span class="block">
              Relationship:{" "}
              <strong>{friend.isBestFriend ? "Bestie" : "Friend"}</strong>
            </span>
            <p class="flex item-center">
              <a class="text-blue-700 block underline-offset-2 hover:underline-offset-4 underline rounded-md transition-all ease-in-out duration-300 delay-300 my-2" href={`/edit/${friend.id}`}>Edit</a>
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
