---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-screen grid place-items-center">
		<h1 class="text-2xl"> WELCOME TO MY BLOGS </h1>
	</main>
</Layout>
